html, body, .stage {
  height: 100%;
  overflow: hidden; }

.stage {
  position: relative;
  perspective: 3000px; }
  .stage .ball {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;
    transform: translate3d(-50%, -50%, 0) rotateX(0deg) rotateY(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    animation: roll 30s infinite; }
  .stage .round {
    position: absolute;
    width: 600px;
    height: 600px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #1EEDFF;
    box-shadow: 0 0 15px #1EEDFF; }
  .stage .round:nth-child(1) {
    transform: rotateX(5deg) rotateY(5deg) rotateY(5deg); }
  .stage .round:nth-child(2) {
    transform: rotateX(10deg) rotateY(10deg) rotateY(10deg); }
  .stage .round:nth-child(3) {
    transform: rotateX(15deg) rotateY(15deg) rotateY(15deg); }
  .stage .round:nth-child(4) {
    transform: rotateX(20deg) rotateY(20deg) rotateY(20deg); }
  .stage .round:nth-child(5) {
    transform: rotateX(25deg) rotateY(25deg) rotateY(25deg); }
  .stage .round:nth-child(6) {
    transform: rotateX(30deg) rotateY(30deg) rotateY(30deg); }
  .stage .round:nth-child(7) {
    transform: rotateX(35deg) rotateY(35deg) rotateY(35deg); }
  .stage .round:nth-child(8) {
    transform: rotateX(40deg) rotateY(40deg) rotateY(40deg); }
  .stage .round:nth-child(9) {
    transform: rotateX(45deg) rotateY(45deg) rotateY(45deg); }
  .stage .round:nth-child(10) {
    transform: rotateX(50deg) rotateY(50deg) rotateY(50deg); }
  .stage .round:nth-child(11) {
    transform: rotateX(55deg) rotateY(55deg) rotateY(55deg); }
  .stage .round:nth-child(12) {
    transform: rotateX(60deg) rotateY(60deg) rotateY(60deg); }
  .stage .round:nth-child(13) {
    transform: rotateX(65deg) rotateY(65deg) rotateY(65deg); }
  .stage .round:nth-child(14) {
    transform: rotateX(70deg) rotateY(70deg) rotateY(70deg); }
  .stage .round:nth-child(15) {
    transform: rotateX(75deg) rotateY(75deg) rotateY(75deg); }
  .stage .round:nth-child(16) {
    transform: rotateX(80deg) rotateY(80deg) rotateY(80deg); }
  .stage .round:nth-child(17) {
    transform: rotateX(85deg) rotateY(85deg) rotateY(85deg); }
  .stage .round:nth-child(18) {
    transform: rotateX(90deg) rotateY(90deg) rotateY(90deg); }
  .stage .round:nth-child(19) {
    transform: rotateX(95deg) rotateY(95deg) rotateY(95deg); }
  .stage .round:nth-child(20) {
    transform: rotateX(100deg) rotateY(100deg) rotateY(100deg); }
  .stage .round:nth-child(21) {
    transform: rotateX(105deg) rotateY(105deg) rotateY(105deg); }
  .stage .round:nth-child(22) {
    transform: rotateX(110deg) rotateY(110deg) rotateY(110deg); }
  .stage .round:nth-child(23) {
    transform: rotateX(115deg) rotateY(115deg) rotateY(115deg); }
  .stage .round:nth-child(24) {
    transform: rotateX(120deg) rotateY(120deg) rotateY(120deg); }
  .stage .round:nth-child(25) {
    transform: rotateX(125deg) rotateY(125deg) rotateY(125deg); }
  .stage .round:nth-child(26) {
    transform: rotateX(130deg) rotateY(130deg) rotateY(130deg); }
  .stage .round:nth-child(27) {
    transform: rotateX(135deg) rotateY(135deg) rotateY(135deg); }
  .stage .round:nth-child(28) {
    transform: rotateX(140deg) rotateY(140deg) rotateY(140deg); }
  .stage .round:nth-child(29) {
    transform: rotateX(145deg) rotateY(145deg) rotateY(145deg); }
  .stage .round:nth-child(30) {
    transform: rotateX(150deg) rotateY(150deg) rotateY(150deg); }
  .stage .round:nth-child(31) {
    transform: rotateX(155deg) rotateY(155deg) rotateY(155deg); }
  .stage .round:nth-child(32) {
    transform: rotateX(160deg) rotateY(160deg) rotateY(160deg); }
  .stage .round:nth-child(33) {
    transform: rotateX(165deg) rotateY(165deg) rotateY(165deg); }
  .stage .round:nth-child(34) {
    transform: rotateX(170deg) rotateY(170deg) rotateY(170deg); }
  .stage .round:nth-child(35) {
    transform: rotateX(175deg) rotateY(175deg) rotateY(175deg); }
  .stage .round:nth-child(36) {
    transform: rotateX(180deg) rotateY(180deg) rotateY(180deg); }

@keyframes roll {
  0% {
    transform: translate3d(-50%, -50%, 0) rotateX(0deg) rotateY(0deg) rotateY(0deg); }
  33% {
    transform: translate3d(-50%, -50%, 0) rotateX(360deg) rotateY(0deg) rotateY(0deg); }
  66% {
    transform: translate3d(-50%, -50%, 0) rotateX(360deg) rotateY(360deg) rotateY(0deg); }
  100% {
    transform: translate3d(-50%, -50%, 0) rotateX(360deg) rotateY(360deg) rotateY(360deg); } }
