* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 1080px;
  width: 3858px;
  font-size: 12px;
}
body {
  padding: 40px 36px;
  background: url("../src/big-screen/bg.jpg") no-repeat left top / 100% 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
.theme {
  color: #2df1ff;
}
h5 {
  color: #2df1ff;
}
.wrap {
  padding: 20px 46px;
  height: 100%;
}
.wrap .modal {
  position: absolute;
  padding: 10px 0 0 22px;
  border: 1px solid rgba(41, 241, 255, 0.3);
  color: #fff;
}
.wrap .modal h3 {
  position: relative;
  font-size: 18px;
  z-index: 1;
}
.wrap .modal h4 {
  position: relative;
  z-index: 1;
  font-size: 12px;
  color: #2df1ff;
}
.wrap .modal .coner {
  position: absolute;
  width: 13px;
  height: 13px;
}
.wrap .modal .coner:before,
.wrap .modal .coner:after {
  position: absolute;
  content: '';
  background: #2df1ff;
}
.wrap .modal .coner:before {
  width: 3px;
  left: 5px;
  top: 5px;
  bottom: 0;
}
.wrap .modal .coner:after {
  height: 3px;
  top: 5px;
  left: 5px;
  right: 0;
}
.wrap .modal .c1 {
  left: -6px;
  top: -6px;
}
.wrap .modal .c2 {
  top: -6px;
  right: -6px;
  transform: rotate(90deg);
}
.wrap .modal .c3 {
  bottom: -6px;
  right: -6px;
  transform: rotate(180deg);
}
.wrap .modal .c4 {
  bottom: -6px;
  left: -6px;
  transform: rotate(270deg);
}
.left-modal {
  float: left;
  position: relative;
  width: 912px;
  height: 100%;
}
.left-modal .l-m-1 {
  width: 248px;
  height: 224px;
}
.left-modal .l-m-1 .category li {
  float: left;
  width: 50%;
  padding-right: 10px;
  line-height: 20px;
}
.left-modal .l-m-1 .category li:before {
  content: '';
  display: inline-block;
  margin-right: 3px;
  width: 14px;
  height: 7px;
}
.left-modal .l-m-1 .category li:nth-child(1):before {
  background: #72be6d;
}
.left-modal .l-m-1 .category li:nth-child(2):before {
  background: #9f4897;
}
.left-modal .l-m-1 .category li:nth-child(3):before {
  background: #ced724;
}
.left-modal .l-m-1 .category li:nth-child(4):before {
  background: #25b7e2;
}
.left-modal .l-m-1 .category li:nth-child(5):before {
  background: #c7431c;
}
.left-modal .l-m-1 .category li:nth-child(6):before {
  background: #1f4a9e;
}
.left-modal .l-m-1 .dial-wrap {
  position: relative;
  margin-left: -20px;
  height: 108px;
  background: url("../src/big-screen/dial.png") no-repeat center;
}
.left-modal .l-m-1 .dial-wrap ul {
  position: relative;
  left: 50%;
  top: 48px;
}
.left-modal .l-m-1 .dial-wrap li {
  position: absolute;
  width: 7px;
  height: 21px;
  transform-origin: 50% 100%;
}
.left-modal .l-m-1 .dial-wrap li:nth-child(1) {
  transform: translate(0, -30px) rotate(-120deg);
  transform-origin: 50% 51px;
  background: url("../src/big-screen/point1.png");
}
.left-modal .l-m-1 .dial-wrap li:nth-child(2) {
  transform: translate(0, -20px) rotate(-72deg);
  transform-origin: 50% 41px;
  background: url("../src/big-screen/point2.png");
}
.left-modal .l-m-1 .dial-wrap li:nth-child(3) {
  transform: translate(0, -10px) rotate(-24deg);
  transform-origin: 50% 31px;
  background: url("../src/big-screen/point3.png");
}
.left-modal .l-m-1 .dial-wrap li:nth-child(4) {
  transform: translate(0, -40px) rotate(24deg);
  transform-origin: 50% 61px;
  background: url("../src/big-screen/point4.png");
}
.left-modal .l-m-1 .dial-wrap li:nth-child(5) {
  transform: translate(0, -10px) rotate(72deg);
  transform-origin: 50% 31px;
  background: url("../src/big-screen/point5.png");
}
.left-modal .l-m-1 .dial-wrap li:nth-child(6) {
  transform: translate(0, -10px) rotate(120deg);
  transform-origin: 50% 31px;
  background: url("../src/big-screen/point6.png");
}
.left-modal .l-m-2 {
  top: 228px;
  width: 248px;
  height: 226px;
}
.left-modal .l-m-2 .canvas-wrap {
  position: relative;
  top: -10px;
}
.left-modal .l-m-3 {
  top: 458px;
  width: 248px;
  height: 269px;
}
.left-modal .l-m-3 .canvas-wrap {
  position: relative;
  height: 206px;
  border-left: 1px solid rgba(41, 241, 255, 0.3);
}
.left-modal .l-m-3 .data {
  position: absolute;
  top: 92px;
  left: 6px;
  width: 160px;
  height: 20px;
  line-height: 20px;
  transform-origin: 0 50%;
}
.left-modal .l-m-3 .data .line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 50px;
  border: 1px solid rgba(41, 241, 255, 0.3);
}
.left-modal .l-m-3 .data .value {
  position: absolute;
  padding: 0 4px;
  left: 20%;
  color: #69bd7c;
  background: #000;
}
.left-modal .l-m-3 .data .name {
  position: absolute;
  padding-left: 12px;
  right: 0;
  color: #2df1ff;
  transform: scale(0.8);
  transform-origin: 0 50%;
  background: url("../src/big-screen/label_bg.png") no-repeat left center;
}
.left-modal .l-m-4 {
  left: 252px;
  height: 290px;
  width: 657px;
}
.left-modal .l-m-4 .canvas-wrap {
  position: relative;
  display: flex;
}
.left-modal .l-m-4 .line-wrap .legend {
  position: absolute;
  left: 10px;
  top: 15px;
  display: flex;
  color: #fff;
}
.left-modal .l-m-4 .line-wrap .legend span {
  display: inline-block;
  width: 25px;
  height: 13px;
}
.left-modal .l-m-4 .line-wrap li {
  padding-right: 5px;
}
.left-modal .l-m-4 .line-wrap li:nth-child(1) span {
  background: #72be6d;
}
.left-modal .l-m-4 .line-wrap li:nth-child(2) span {
  background: #25b7e2;
}
.left-modal .l-m-4 .line-wrap li:nth-child(3) span {
  background: #1f4a9e;
}
.left-modal .l-m-4 .radar-wrap h5 {
  padding-left: 4px;
  height: 16px;
  line-height: 16px;
  border-left: 3px solid #2a8bcc;
}
.left-modal .l-m-5 {
  top: 294px;
  left: 252px;
  width: 657px;
  height: 434px;
}
.left-modal .l-m-5 .talent-heat .legend {
  padding-left: 40px;
  padding-top: 10px;
  display: flex;
}
.left-modal .l-m-5 .talent-heat .legend li {
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  background: rgba(42, 139, 204, 0.35);
  opacity: 0.5;
  border-radius: 4px;
  margin-right: 15px;
}
.left-modal .l-m-5 .talent-heat .legend li.active {
  opacity: 1;
}
.left-modal .l-m-6 {
  bottom: 0;
  width: 910px;
  height: 227px;
}
.left-modal .l-m-6 h5 {
  color: #2df1ff;
}
.left-modal .l-m-6 .warning-wrap {
  position: relative;
}
.left-modal .l-m-6 .warning-wrap li {
  position: absolute;
  width: 80px;
  height: 80px;
  font-size: 16px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  opacity: 0.6;
}
.left-modal .l-m-6 .warning-wrap li.active {
  opacity: 1;
}
.left-modal .l-m-6 .warning-wrap li:nth-child(1) {
  left: 110px;
  top: 5px;
  background: #2df1ff;
}
.left-modal .l-m-6 .warning-wrap li:nth-child(2) {
  font-size: 14px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  top: 50px;
  background: #b58d1a;
}
.left-modal .l-m-6 .warning-wrap li:nth-child(3) {
  font-size: 14px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  top: 100px;
  left: 130px;
  background: #683930;
}
.left-modal .l-m-6 .warning-data {
  font-size: 20px;
  position: absolute;
  top: 80px;
  left: 62px;
  color: #2df1ff;
}
.left-modal .l-m-6 .recommend-list {
  position: relative;
  top: -55px;
  margin-left: 300px;
  width: 530px;
  font-size: 16px;
}
.left-modal .l-m-6 .recommend-list h5 {
  font-size: 16px;
  line-height: 2;
}
.left-modal .l-m-6 .recommend-list .head {
  display: flex;
  margin-bottom: 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(31, 47, 143, 0.15);
}
.left-modal .l-m-6 .recommend-list span {
  padding-left: 30px;
}
.left-modal .l-m-6 .recommend-list span:first-child {
  padding-left: 60px;
  width: 320px;
}
.left-modal .l-m-6 .recommend-list .company-wrap {
  position: relative;
  height: 120px;
  overflow: hidden;
  background: rgba(31, 47, 143, 0.15);
}
.left-modal .l-m-6 .recommend-list .company-wrap .company-list li {
  display: flex;
  height: 30px;
  line-height: 30px;
}
.right-modal {
  float: right;
  position: relative;
  width: 880px;
  height: 100%;
}
.right-modal .right-title {
  position: relative;
  top: -24px;
  left: -25px;
  width: 930px;
  height: 92px;
  font-size: 40px;
  line-height: 92px;
  text-align: center;
  color: #fff;
  background: url("../src/big-screen/title_bg.png") no-repeat center;
}
.right-modal .modal {
  width: 100%;
}
.right-modal .r-m-1 {
  top: 80px;
  height: 345px;
}
.right-modal .r-m-1 .investment-history {
  margin-top: 20px;
  font-size: 16px;
  width: 394px;
  text-align: center;
}
.right-modal .r-m-1 .investment-history span:nth-child(1) {
  width: 40%;
}
.right-modal .r-m-1 .investment-history span:nth-child(2) {
  width: 30%;
}
.right-modal .r-m-1 .investment-history span:nth-child(3) {
  width: 30%;
}
.right-modal .r-m-1 .investment-history .head {
  display: flex;
  margin-bottom: 5px;
  height: 40px;
  line-height: 40px;
  background: rgba(31, 47, 143, 0.15);
}
.right-modal .r-m-1 .investment-history li {
  display: flex;
  height: 34px;
  line-height: 34px;
}
.right-modal .r-m-1 .investment-history .event-wrap {
  position: relative;
  height: 204px;
  overflow: hidden;
  background: rgba(31, 47, 143, 0.15);
}
.right-modal .r-m-1 .sunburst-wrap {
  position: absolute;
  width: 340px;
  height: 340px;
  right: 30px;
  top: 0;
}
.right-modal .r-m-1 .sunburst {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  background: url("../src/big-screen/sunburst.png") no-repeat center;
  transform: translate(50%, -50%);
  transition: all 1s;
}
.right-modal .r-m-1 .sunburst.full {
  width: 314px;
  height: 314px;
}
.right-modal .r-m-1 .sunburst.rotate {
  animation: rotate 5s infinite linear;
}
.right-modal .r-m-2 {
  top: 430px;
  height: 436px;
}
.right-modal .r-m-2 .img-wrap {
  font-size: 14px;
  color: #2e69b3;
}
.right-modal .r-m-2 .img-wrap ul {
  position: absolute;
  top: 274px;
  left: 185px;
  transform: rotate(35deg);
  line-height: 23px;
}
.right-modal .r-m-2 .arc-img {
  position: absolute;
  left: 80px;
  top: 90px;
}
.right-modal .r-m-2 .canvas-wrap {
  position: absolute;
  top: 0;
  right: 0;
}
.right-modal .r-m-3 {
  height: 90px;
  bottom: 0;
}
@keyframes rotate {
  0% {
    transform: translate(50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(50%, -50%) rotate(360deg);
  }
}
