* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 1080px;
  width: 3858px;
  font-size: 12px;
}
body {
  padding: 40px 36px;
  background: url("../src/big-screen/bg.jpg") no-repeat left top / 100% 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.wrap {
  padding: 20px 46px;
  height: 100%;
}
.wrap .modal {
  position: absolute;
  padding: 10px 0 0 22px;
  border: 1px solid rgba(41, 241, 255, 0.3);
  color: #fff;
}
.wrap .modal h3 {
  position: relative;
  font-size: 18px;
  z-index: 1;
}
.wrap .modal h4 {
  position: relative;
  z-index: 1;
  font-size: 12px;
  color: #2df1ff;
}
.wrap .modal .coner {
  position: absolute;
  width: 13px;
  height: 13px;
}
.wrap .modal .coner:before,
.wrap .modal .coner:after {
  position: absolute;
  content: '';
  background: #2df1ff;
}
.wrap .modal .coner:before {
  width: 3px;
  left: 5px;
  top: 5px;
  bottom: 0;
}
.wrap .modal .coner:after {
  height: 3px;
  top: 5px;
  left: 5px;
  right: 0;
}
.wrap .modal .c1 {
  left: -6px;
  top: -6px;
}
.wrap .modal .c2 {
  top: -6px;
  right: -6px;
  transform: rotate(90deg);
}
.wrap .modal .c3 {
  bottom: -6px;
  right: -6px;
  transform: rotate(180deg);
}
.wrap .modal .c4 {
  bottom: -6px;
  left: -6px;
  transform: rotate(270deg);
}
.left-modal {
  float: left;
  position: relative;
  width: 912px;
  height: 100%;
}
.left-modal .l-m-1 {
  width: 248px;
  height: 224px;
}
.left-modal .l-m-2 {
  top: 228px;
  width: 248px;
  height: 226px;
}
.left-modal .l-m-2 .canvas-wrap {
  position: relative;
  top: -10px;
}
.left-modal .l-m-3 {
  top: 458px;
  width: 248px;
  height: 269px;
}
.left-modal .l-m-3 .canvas-wrap {
  position: relative;
  height: 206px;
  border-left: 1px solid rgba(41, 241, 255, 0.3);
}
.left-modal .l-m-3 .data {
  position: absolute;
  top: 92px;
  left: 6px;
  width: 160px;
  height: 20px;
  line-height: 20px;
  transform-origin: 0 50%;
}
.left-modal .l-m-3 .data .line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 50px;
  border: 1px solid rgba(41, 241, 255, 0.3);
}
.left-modal .l-m-3 .data .value {
  position: absolute;
  padding: 0 4px;
  left: 20%;
  color: #69bd7c;
  background: #000;
}
.left-modal .l-m-3 .data .name {
  position: absolute;
  padding-left: 12px;
  right: 0;
  color: #2df1ff;
  transform: scale(0.8);
  transform-origin: 0 50%;
  background: url("../src/big-screen/label_bg.png") no-repeat left center;
}
.left-modal .l-m-4 {
  left: 252px;
  height: 290px;
  width: 657px;
}
.left-modal .l-m-5 {
  top: 294px;
  left: 252px;
  width: 657px;
  height: 434px;
}
.left-modal .l-m-6 {
  bottom: 0;
  width: 910px;
  height: 227px;
}
.right-modal {
  float: right;
  position: relative;
  width: 880px;
  height: 100%;
}
.right-modal .modal {
  width: 100%;
}
.right-modal .r-m-1 {
  top: 80px;
  height: 345px;
}
.right-modal .r-m-2 {
  top: 430px;
  height: 436px;
}
.right-modal .r-m-3 {
  height: 90px;
  bottom: 0;
}
