* {
  padding: 0;
  margin: 0;
}
body {
  padding: 40px 36px;
  background: url("bg.jpg") no-repeat center;
}
.wrap {
  padding: 20px 46px;
}
.left-modal {
  float: left;
  width: 912px;
}
.left-modal .modal {
  position: absolute;
}
