.wrap {
  position: relative;
  margin: 200px auto;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  perspective: 1600px;
  transform: rotateX(45deg); }
  .wrap .circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #2e6be6;
    border-radius: 50%;
    opacity: 0.5;
    box-shadow: 3px 3px 3px #2e6be6; }
  .wrap .circle:first-child {
    background: #f00; }
  .wrap .circle:nth-child(1) {
    transform: translateZ(1px); }
  .wrap .circle:nth-child(2) {
    transform: translateZ(2px); }
  .wrap .circle:nth-child(3) {
    transform: translateZ(3px); }
  .wrap .circle:nth-child(4) {
    transform: translateZ(4px); }
  .wrap .circle:nth-child(5) {
    transform: translateZ(5px); }
  .wrap .circle:nth-child(6) {
    transform: translateZ(6px); }
  .wrap .circle:nth-child(7) {
    transform: translateZ(7px); }
  .wrap .circle:nth-child(8) {
    transform: translateZ(8px); }
  .wrap .circle:nth-child(9) {
    transform: translateZ(9px); }
  .wrap .circle:nth-child(10) {
    transform: translateZ(10px); }
  .wrap .circle:nth-child(11) {
    transform: translateZ(11px); }
  .wrap .circle:nth-child(12) {
    transform: translateZ(12px); }
  .wrap .circle:nth-child(13) {
    transform: translateZ(13px); }
  .wrap .circle:nth-child(14) {
    transform: translateZ(14px); }
  .wrap .circle:nth-child(15) {
    transform: translateZ(15px); }
  .wrap .circle:nth-child(16) {
    transform: translateZ(16px); }
  .wrap .circle:nth-child(17) {
    transform: translateZ(17px); }
  .wrap .circle:nth-child(18) {
    transform: translateZ(18px); }
  .wrap .circle:nth-child(19) {
    transform: translateZ(19px); }
  .wrap .circle:nth-child(20) {
    transform: translateZ(20px); }
  .wrap .circle:nth-child(21) {
    transform: translateZ(21px); }
  .wrap .circle:nth-child(22) {
    transform: translateZ(22px); }
  .wrap .circle:nth-child(23) {
    transform: translateZ(23px); }
  .wrap .circle:nth-child(24) {
    transform: translateZ(24px); }
  .wrap .circle:nth-child(25) {
    transform: translateZ(25px); }
  .wrap .circle:nth-child(26) {
    transform: translateZ(26px); }
  .wrap .circle:nth-child(27) {
    transform: translateZ(27px); }
  .wrap .circle:nth-child(28) {
    transform: translateZ(28px); }
  .wrap .circle:nth-child(29) {
    transform: translateZ(29px); }
  .wrap .circle:nth-child(30) {
    transform: translateZ(30px); }
  .wrap .circle:nth-child(31) {
    transform: translateZ(31px); }
  .wrap .circle:nth-child(32) {
    transform: translateZ(32px); }
  .wrap .circle:nth-child(33) {
    transform: translateZ(33px); }
  .wrap .circle:nth-child(34) {
    transform: translateZ(34px); }
  .wrap .circle:nth-child(35) {
    transform: translateZ(35px); }
  .wrap .circle:nth-child(36) {
    transform: translateZ(36px); }
  .wrap .circle:nth-child(37) {
    transform: translateZ(37px); }
  .wrap .circle:nth-child(38) {
    transform: translateZ(38px); }
  .wrap .circle:nth-child(39) {
    transform: translateZ(39px); }
  .wrap .circle:nth-child(40) {
    transform: translateZ(40px); }
  .wrap .circle:nth-child(41) {
    transform: translateZ(41px); }
  .wrap .circle:nth-child(42) {
    transform: translateZ(42px); }
  .wrap .circle:nth-child(43) {
    transform: translateZ(43px); }
  .wrap .circle:nth-child(44) {
    transform: translateZ(44px); }
  .wrap .circle:nth-child(45) {
    transform: translateZ(45px); }
  .wrap .circle:nth-child(46) {
    transform: translateZ(46px); }
  .wrap .circle:nth-child(47) {
    transform: translateZ(47px); }
  .wrap .circle:nth-child(48) {
    transform: translateZ(48px); }
  .wrap .circle:nth-child(49) {
    transform: translateZ(49px); }
  .wrap .circle:nth-child(50) {
    transform: translateZ(50px); }
  .wrap .circle:nth-child(51) {
    transform: translateZ(51px); }
  .wrap .circle:nth-child(52) {
    transform: translateZ(52px); }
  .wrap .circle:nth-child(53) {
    transform: translateZ(53px); }
  .wrap .circle:nth-child(54) {
    transform: translateZ(54px); }
  .wrap .circle:nth-child(55) {
    transform: translateZ(55px); }
  .wrap .circle:nth-child(56) {
    transform: translateZ(56px); }
  .wrap .circle:nth-child(57) {
    transform: translateZ(57px); }
  .wrap .circle:nth-child(58) {
    transform: translateZ(58px); }
  .wrap .circle:nth-child(59) {
    transform: translateZ(59px); }
  .wrap .circle:nth-child(60) {
    transform: translateZ(60px); }
  .wrap .circle:nth-child(61) {
    transform: translateZ(61px); }
  .wrap .circle:nth-child(62) {
    transform: translateZ(62px); }
  .wrap .circle:nth-child(63) {
    transform: translateZ(63px); }
  .wrap .circle:nth-child(64) {
    transform: translateZ(64px); }
  .wrap .circle:nth-child(65) {
    transform: translateZ(65px); }
  .wrap .circle:nth-child(66) {
    transform: translateZ(66px); }
  .wrap .circle:nth-child(67) {
    transform: translateZ(67px); }
  .wrap .circle:nth-child(68) {
    transform: translateZ(68px); }
  .wrap .circle:nth-child(69) {
    transform: translateZ(69px); }
  .wrap .circle:nth-child(70) {
    transform: translateZ(70px); }
  .wrap .circle:nth-child(71) {
    transform: translateZ(71px); }
  .wrap .circle:nth-child(72) {
    transform: translateZ(72px); }
  .wrap .circle:nth-child(73) {
    transform: translateZ(73px); }
  .wrap .circle:nth-child(74) {
    transform: translateZ(74px); }
  .wrap .circle:nth-child(75) {
    transform: translateZ(75px); }
  .wrap .circle:nth-child(76) {
    transform: translateZ(76px); }
  .wrap .circle:nth-child(77) {
    transform: translateZ(77px); }
  .wrap .circle:nth-child(78) {
    transform: translateZ(78px); }
  .wrap .circle:nth-child(79) {
    transform: translateZ(79px); }
  .wrap .circle:nth-child(80) {
    transform: translateZ(80px); }
  .wrap .circle:nth-child(81) {
    transform: translateZ(81px); }
  .wrap .circle:nth-child(82) {
    transform: translateZ(82px); }
  .wrap .circle:nth-child(83) {
    transform: translateZ(83px); }
  .wrap .circle:nth-child(84) {
    transform: translateZ(84px); }
  .wrap .circle:nth-child(85) {
    transform: translateZ(85px); }
  .wrap .circle:nth-child(86) {
    transform: translateZ(86px); }
  .wrap .circle:nth-child(87) {
    transform: translateZ(87px); }
  .wrap .circle:nth-child(88) {
    transform: translateZ(88px); }
  .wrap .circle:nth-child(89) {
    transform: translateZ(89px); }
  .wrap .circle:nth-child(90) {
    transform: translateZ(90px); }
  .wrap .circle:nth-child(91) {
    transform: translateZ(91px); }
  .wrap .circle:nth-child(92) {
    transform: translateZ(92px); }
  .wrap .circle:nth-child(93) {
    transform: translateZ(93px); }
  .wrap .circle:nth-child(94) {
    transform: translateZ(94px); }
  .wrap .circle:nth-child(95) {
    transform: translateZ(95px); }
  .wrap .circle:nth-child(96) {
    transform: translateZ(96px); }
  .wrap .circle:nth-child(97) {
    transform: translateZ(97px); }
  .wrap .circle:nth-child(98) {
    transform: translateZ(98px); }
  .wrap .circle:nth-child(99) {
    transform: translateZ(99px); }
  .wrap .circle:nth-child(100) {
    transform: translateZ(100px); }
