.duang-wrap {
  margin: 60px auto;
  width: 300px;
  height: 300px;
  border: 2px solid #1EEDFF; }

.duang-content {
  height: 600px;
  background-image: linear-gradient(45deg, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0.8) 7%, red 11%, red 12%, #fffc00 28%, #01b407 45%, #00eaff 60%, #000390 75%, #ff00c6 88%, rgba(255, 0, 198, 0.8) 93%, rgba(255, 0, 198, 0) 100%); }
