table {
  border-collapse: collapse; }
  table td {
    border: 1px solid #ddd;
    width: 60px;
    height: 20px; }
    table td:hover {
      background: #eee; }
    table td textarea {
      display: block;
      box-sizing: border-box; }
