* {
  box-sizing: border-box; }

#table-wrap {
  position: relative;
  overflow: hidden; }

.edit-table {
  border-collapse: collapse; }
  .edit-table td {
    border: 1px solid #ddd;
    width: 120px;
    height: 28px;
    box-sizing: border-box;
    word-break: break-all; }
    .edit-table td:hover {
      background: #f1f1f1; }
    .edit-table td textarea {
      display: block;
      max-width: 100%;
      max-height: 100%;
      box-sizing: border-box; }
  .edit-table .tr-col-index {
    background: #e6e6e6; }
    .edit-table .tr-col-index td {
      text-align: center;
      height: 16px;
      user-select: none; }
  .edit-table .td-row-index {
    width: 40px;
    text-align: center;
    background: #e6e6e6;
    user-select: none; }

.table-select {
  position: absolute;
  z-index: 99;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid rgba(33, 115, 70, 0.8);
  transition: all 0.2s;
  pointer-events: none; }
