html, body, .stage {
  height: 100%; }

#grids {
  position: absolute;
  left: 0;
  right: 0; }
  #grids td {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 4px solid #4EA9F3; }

.stage {
  position: relative;
  perspective: 3000px; }
  .stage .square {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 1000px;
    height: 800px;
    border: 1px solid #1EEDFF;
    transform: translate3d(10px, -10px, -116000px) rotateX(60deg) rotateY(0deg) rotateZ(450deg);
    transform-style: preserve-3d;
    transition: all 2s; }
    .stage .square.show {
      transform: translate3d(10px, -10px, -1160px) rotateX(60deg) rotateY(0deg) rotateZ(45deg); }
  .stage .cubes {
    position: absolute;
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
    transition: all 0.5s; }
    .stage .cubes:hover .face {
      box-shadow: 0 0 36px #1EEDFF; }
  .stage .face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    outline: 1px solid #1EEDFF;
    background: none !important;
    transition: all 0.5s;
    list-style: none;
    opacity: 0.5;
    color: transparent;
    font-size: 50px;
    text-align: center;
    line-height: 100px; }
  .stage .front {
    transform: translate3d(0px, 50%, 0px) rotateX(-90deg); }
  .stage .back {
    transform: translate3d(0px, -50%, 0px) rotateX(90deg) rotateZ(180deg); }
  .stage .left {
    transform: translate3d(-50%, 0px, 0px) rotateY(-90deg) rotateZ(90deg); }
  .stage .right {
    transform: translate3d(50%, 0px, 0px) rotateY(90deg) rotateZ(-90deg); }
  .stage .up {
    transform: translate3d(0px, 0px, 50px); }
  .stage .bottom {
    transform: translate3d(0px, 0px, -50px) rotateY(180deg); }
  .stage .left, .stage .right, .stage .front, .stage .back {
    transform-origin: 0 100px; }
