html, body, .stage {
  height: 100%;
  overflow: hidden; }

.row-line:nth-child(1) {
  transform: translate3d(0, 99px, 0);
  transition: all 1s 2.1s; }

.col-line:nth-child(10) {
  transform: translate3d(99px, 0, 0) rotateZ(90deg);
  transform-origin: 0;
  transition: all 1s 2.1s; }

.row-line:nth-child(2) {
  transform: translate3d(0, 199px, 0);
  transition: all 1s 2.2s; }

.col-line:nth-child(11) {
  transform: translate3d(199px, 0, 0) rotateZ(90deg);
  transform-origin: 0;
  transition: all 1s 2.2s; }

.row-line:nth-child(3) {
  transform: translate3d(0, 299px, 0);
  transition: all 1s 2.3s; }

.col-line:nth-child(12) {
  transform: translate3d(299px, 0, 0) rotateZ(90deg);
  transform-origin: 0;
  transition: all 1s 2.3s; }

.row-line:nth-child(4) {
  transform: translate3d(0, 399px, 0);
  transition: all 1s 2.4s; }

.col-line:nth-child(13) {
  transform: translate3d(399px, 0, 0) rotateZ(90deg);
  transform-origin: 0;
  transition: all 1s 2.4s; }

.row-line:nth-child(5) {
  transform: translate3d(0, 499px, 0);
  transition: all 1s 2.5s; }

.col-line:nth-child(14) {
  transform: translate3d(499px, 0, 0) rotateZ(90deg);
  transform-origin: 0;
  transition: all 1s 2.5s; }

.row-line:nth-child(6) {
  transform: translate3d(0, 599px, 0);
  transition: all 1s 2.6s; }

.col-line:nth-child(15) {
  transform: translate3d(599px, 0, 0) rotateZ(90deg);
  transform-origin: 0;
  transition: all 1s 2.6s; }

.row-line:nth-child(7) {
  transform: translate3d(0, 699px, 0);
  transition: all 1s 2.7s; }

.col-line:nth-child(16) {
  transform: translate3d(699px, 0, 0) rotateZ(90deg);
  transform-origin: 0;
  transition: all 1s 2.7s; }

.row-line:nth-child(8) {
  transform: translate3d(0, 799px, 0);
  transition: all 1s 2.8s; }

.col-line:nth-child(17) {
  transform: translate3d(799px, 0, 0) rotateZ(90deg);
  transform-origin: 0;
  transition: all 1s 2.8s; }

.row-line:nth-child(9) {
  transform: translate3d(0, 899px, 0);
  transition: all 1s 2.9s; }

.col-line:nth-child(18) {
  transform: translate3d(899px, 0, 0) rotateZ(90deg);
  transform-origin: 0;
  transition: all 1s 2.9s; }

.stage {
  position: relative;
  perspective: 3000px; }
  .stage .square {
    position: absolute;
    left: 50%;
    top: 70%;
    width: 1000px;
    height: 1000px;
    border: 2px solid #1EEDFF;
    transform: translate3d(-50%, -50%, -116000px) rotateX(60deg) rotateY(0deg) rotateZ(450deg);
    transform-style: preserve-3d;
    transition: all 2s; }
    .stage .square.show {
      transform: translate3d(-50%, -50%, -1160px) rotateX(60deg) rotateY(0deg) rotateZ(45deg); }
      .stage .square.show hr {
        width: 100%; }
    .stage .square hr {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      border: 1px solid #1EEDFF;
      box-sizing: border-box; }
  .stage .cubes {
    position: absolute;
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
    transition: all 0.5s; }
    .stage .cubes:hover .face {
      box-shadow: 0 0 36px #1EEDFF; }
  .stage .face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    outline: 1px solid #1EEDFF;
    background: radial-gradient(ellipse at center, #444 0%, #000000 90%);
    transition: all 0.5s;
    list-style: none;
    opacity: 0.5;
    color: transparent;
    font-size: 50px;
    text-align: center;
    line-height: 100px; }
  .stage .front {
    transform: translate3d(0px, 50%, 0px) rotateX(-90deg); }
  .stage .back {
    transform: translate3d(0px, -50%, 0px) rotateX(90deg) rotateZ(180deg); }
  .stage .left {
    transform: translate3d(-50%, 0px, 0px) rotateY(-90deg) rotateZ(90deg); }
  .stage .right {
    transform: translate3d(50%, 0px, 0px) rotateY(90deg) rotateZ(-90deg); }
  .stage .up {
    transform: translate3d(0px, 0px, 50px); }
  .stage .bottom {
    transform: translate3d(0px, 0px, -50px) rotateY(180deg); }
  .stage .left, .stage .right, .stage .front, .stage .back {
    transform-origin: 0 100px; }
