body {
  min-height: 100vh; }

#wrap {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  background-image: radial-gradient(ellipse at right, #dc4bc8, #00004b); }

.cropper-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  overflow: hidden; }
  .cropper-wrap.hide {
    display: none; }

.cropper {
  position: absolute;
  border: 1px solid #00eaff;
  opacity: 0.5;
  cursor: move;
  box-sizing: border-box;
  outline: 10000px solid #000; }

.cropper .square {
  position: absolute;
  width: 9px;
  height: 9px;
  background: #00eaff; }

.cropper .s-lt {
  left: -4.5px;
  top: -4.5px;
  cursor: se-resize; }

.cropper .s-rt {
  right: -4.5px;
  top: -4.5px;
  cursor: sw-resize; }

.cropper .s-t {
  top: -4.5px;
  left: 50%;
  margin-left: -4.5px;
  cursor: s-resize; }

.cropper .s-l {
  left: -4.5px;
  top: 50%;
  margin-top: -4.5px;
  cursor: e-resize; }

.cropper .s-r {
  right: -4.5px;
  top: 50%;
  margin-top: -4.5px;
  cursor: e-resize; }

.cropper .s-lb {
  left: -4.5px;
  bottom: -4.5px;
  cursor: sw-resize; }

.cropper .s-rb {
  right: -4.5px;
  bottom: -4.5px;
  cursor: se-resize; }

.cropper .s-b {
  bottom: -4.5px;
  left: 50%;
  margin-left: -4.5px;
  cursor: s-resize; }

* {
  box-sizing: border-box; }

#canvas {
  display: block;
  box-shadow: 0 0 10px currentColor;
  background: #FFF; }

.canvas-wrap {
  display: inline-block;
  position: relative; }

fieldset {
  border-width: 1px; }
  fieldset input, fieldset button, fieldset select {
    margin: 3px; }
  fieldset .btn, fieldset .v-input {
    height: 26px; }

.v-input {
  width: 100px; }
  .v-input[type="number"] {
    width: 60px; }

.wechat-nine {
  display: flex;
  flex-wrap: wrap; }
  .wechat-nine li {
    width: 33.3333%;
    padding: 2px;
    box-sizing: border-box; }
    .wechat-nine li img {
      display: block;
      max-width: 100%; }

.opt-menu {
  float: left;
  width: 300px; }

.content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  margin-left: 320px;
  height: 100vh;
  overflow: auto; }
