#canvas {
  display: block;
  max-width: 100%;
  box-shadow: 0 0 10px currentColor;
  background: #FFF; }

.canvas-wrap {
  display: inline-block;
  position: relative; }

fieldset {
  border-width: 1px; }
  fieldset input, fieldset button, fieldset select {
    margin: 3px; }

.v-input {
  height: 26px;
  width: 100px; }

.wechat-nine {
  display: flex;
  flex-wrap: wrap; }
  .wechat-nine li {
    width: 33.3333%;
    padding: 2px;
    box-sizing: border-box; }
    .wechat-nine li img {
      display: block;
      max-width: 100%; }

.opt-menu {
  float: left;
  width: 300px; }

.content-wrap {
  padding-top: 20px;
  margin-left: 320px; }
