@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

/*Base*/
html {
  font: 12px/1.5 "Microsoft Yahei", "宋体", Arial, sans-serif;
  color: #666;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*修正手持设备字体变化*/ }

a {
  text-decoration: none;
  background: transparent;
  /*修正win8系统IE连接灰色背景*/
  outline: none;
  font-family: "Microsoft Yahei", "宋体", Arial, sans-serif; }

a:focus {
  outline: 0; }

a:active, a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/*fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}*/
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
  border: 0;
  line-height: normal;
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  list-style: none; }

pre {
  word-break: break-all;
  white-space: pre-wrap;
  /* css-3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

/**
 * CSS Reset.
 */
/** 清除内外边距 **/
html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, button, input, textarea,
th, td {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

caption, th, b {
  font-weight: normal;
  font-style: normal; }

address, cite, dfn, em, var {
  font-style: normal; }

/* 将斜体扶正 */
code, kbd, pre, samp {
  font-family: "Microsoft Yahei","冬青黑体",courier new, courier, monospace; }

/* 统一等宽字体 */
small {
  font-size: 0.6em; }

button, input, select, textarea {
  font-size: 100%; }

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** HTML5元素 **/
figure {
  margin: 0; }

h1, h2, h3, h4, h5, h6, li, div, p, pre, span, a, td {
  word-break: break-all;
  word-wrap: break-word; }

html, body {
  height: 100%;
  overflow: hidden; }

body {
  position: relative;
  font-family: "Microsoft Yahei" , Arial, sans-serif;
  background: #160026 url("../img/report/bg.jpg") no-repeat center/cover;
  color: #fff; }
  body * {
    box-sizing: border-box; }

.cursor {
  display: none;
  margin-left: 12px;
  width: 3px;
  height: 30px;
  background-color: #333;
  vertical-align: middle;
  -webkit-animation: twinkled 0.5s infinite;
  -moz-animation: twinkled 0.5s infinite;
  -ms-animation: twinkled 0.5s infinite;
  animation: twinkled 0.5s infinite; }

.msg {
  padding: 0 86px;
  font-size: 42px;
  text-align: center;
  word-break: break-word; }
  .msg.pre {
    white-space: pre; }
  .msg strong {
    font-size: 1.2em; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.meteor {
  position: absolute;
  top: -1333px;
  width: 31px;
  height: 52px;
  background: url("../img/report/meteor.png"); }
  .meteor.m1 {
    left: 160%;
    -webkit-animation: meteor 4s 3s infinite;
    -moz-animation: meteor 4s 3s infinite;
    -ms-animation: meteor 4s 3s infinite;
    animation: meteor 4s 3s infinite; }
  .meteor.m2 {
    left: 180%;
    -webkit-animation: meteor 6s 4s infinite;
    -moz-animation: meteor 6s 4s infinite;
    -ms-animation: meteor 6s 4s infinite;
    animation: meteor 6s 4s infinite; }
  .meteor.m3 {
    left: 210%;
    -webkit-animation: meteor 5s 5s infinite;
    -moz-animation: meteor 5s 5s infinite;
    -ms-animation: meteor 5s 5s infinite;
    animation: meteor 5s 5s infinite; }
  .meteor.m4 {
    left: 240%;
    -webkit-animation: meteor 4s 7s infinite;
    -moz-animation: meteor 4s 7s infinite;
    -ms-animation: meteor 4s 7s infinite;
    animation: meteor 4s 7s infinite; }

.float {
  position: absolute; }
  .float.f1, .float.f2 {
    width: 35px;
    height: 61px;
    background: url("../img/report/float_triangle.png");
    -webkit-animation: float 15s infinite alternate;
    -moz-animation: float 15s infinite alternate;
    -ms-animation: float 15s infinite alternate;
    animation: float 15s infinite alternate; }
  .float.f1 {
    top: 700px;
    left: 50px; }
  .float.f2 {
    top: 230px;
    right: 50px; }
  .float.f3, .float.f4 {
    width: 29px;
    height: 44px;
    background: url("../img/report/float_triangle2.png");
    -webkit-animation: float 10s infinite alternate;
    -moz-animation: float 10s infinite alternate;
    -ms-animation: float 10s infinite alternate;
    animation: float 10s infinite alternate; }
  .float.f3 {
    left: 230px;
    bottom: 150px; }
  .float.f4 {
    right: 150px;
    bottom: 300px; }

.technical-support {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 90px;
  z-index: 10;
  font-size: 28px;
  text-align: center; }
  .technical-support a {
    color: #fff; }

.double-arrow {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 10;
  width: 44px;
  height: 44px;
  background: url("../img/report/double_arrow.png");
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  -webkit-animation: twinkled 1.5s infinite;
  -moz-animation: twinkled 1.5s infinite;
  -ms-animation: twinkled 1.5s infinite;
  animation: twinkled 1.5s infinite; }

footer {
  display: none; }

.page {
  padding-top: 90px; }
  .page.p1 {
    padding-top: 140px; }
    .page.p1 .club-wrap {
      position: relative; }
    .page.p1 .dash-circle {
      margin: auto;
      border: 4px dashed #877f8e; }
    .page.p1 .c1 {
      width: 632px;
      height: 632px;
      border-radius: 50%; }
    .page.p1 .c2 {
      width: 570px;
      height: 570px;
      border-radius: 50%;
      -webkit-transform: translate3d(0, 27px, 0);
      -moz-transform: translate3d(0, 27px, 0);
      -ms-transform: translate3d(0, 27px, 0);
      transform: translate3d(0, 27px, 0); }
    .page.p1 .purple-circle {
      padding-top: 130px;
      margin: auto;
      width: 458px;
      height: 458px;
      border-radius: 50%;
      -webkit-transform: translate3d(0, 52px, 0);
      -moz-transform: translate3d(0, 52px, 0);
      -ms-transform: translate3d(0, 52px, 0);
      transform: translate3d(0, 52px, 0);
      background-image: -webkit-radial-gradient(#63529a, #382067);
      background-image: radial-gradient(#63529a, #382067);
      box-shadow: 0 0 60px #9889cc; }
    .page.p1 h2 {
      font: bold 68px 'SimHei', 'Microsoft YaHei', 'Arial Black', 'Arial', 'Helvetica';
      color: #dce3ee;
      text-align: center; }
    .page.p1 .annual-summary {
      margin: 40px auto;
      width: 314px;
      height: 75px;
      background: url("../img/report/annual_summary.png") no-repeat center/cover; }
    .page.p1 .stars {
      position: absolute;
      top: 8px;
      left: 55px;
      width: 622px;
      height: 613px;
      background: url("../img/report/stars_color.png"); }
    .page.p1 .start {
      display: block;
      margin: 80px auto;
      width: 420px;
      height: 100px;
      font-size: 40px;
      letter-spacing: 2px;
      background-color: #6364e9;
      border-radius: 10px;
      color: #fff;
      box-shadow: 0 0 20px #333;
      -webkit-transform: translate3d(0, 1000px, 0);
      -moz-transform: translate3d(0, 1000px, 0);
      -ms-transform: translate3d(0, 1000px, 0);
      transform: translate3d(0, 1000px, 0); }
  .page .p7 .robot {
    width: 611px;
    height: 599px;
    background: url("../img/report/robot.png"); }

@keyframes meteor {
  0% {
    -webkit-transform: scale(2) translate3d(0, 0, 0);
    -moz-transform: scale(2) translate3d(0, 0, 0);
    -ms-transform: scale(2) translate3d(0, 0, 0);
    transform: scale(2) translate3d(0, 0, 0); }
  100% {
    -webkit-transform: scale(2) translate3d(-2150px, 4000px, 0);
    -moz-transform: scale(2) translate3d(-2150px, 4000px, 0);
    -ms-transform: scale(2) translate3d(-2150px, 4000px, 0);
    transform: scale(2) translate3d(-2150px, 4000px, 0); } }
@keyframes float {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
    -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
    -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
    transform: translate3d(0, 0, 0) rotateZ(0deg); }
  25% {
    -webkit-transform: translate3d(0, 20%, 0) rotateZ(0deg);
    -moz-transform: translate3d(0, 20%, 0) rotateZ(0deg);
    -ms-transform: translate3d(0, 20%, 0) rotateZ(0deg);
    transform: translate3d(0, 20%, 0) rotateZ(0deg); }
  30% {
    -webkit-transform: translate3d(0, 20%, 0) rotateZ(10deg);
    -moz-transform: translate3d(0, 20%, 0) rotateZ(10deg);
    -ms-transform: translate3d(0, 20%, 0) rotateZ(10deg);
    transform: translate3d(0, 20%, 0) rotateZ(10deg); }
  40% {
    -webkit-transform: translate3d(0, 20%, 0) rotateZ(-10deg);
    -moz-transform: translate3d(0, 20%, 0) rotateZ(-10deg);
    -ms-transform: translate3d(0, 20%, 0) rotateZ(-10deg);
    transform: translate3d(0, 20%, 0) rotateZ(-10deg); }
  50% {
    -webkit-transform: translate3d(0, 20%, 0) rotateZ(0deg);
    -moz-transform: translate3d(0, 20%, 0) rotateZ(0deg);
    -ms-transform: translate3d(0, 20%, 0) rotateZ(0deg);
    transform: translate3d(0, 20%, 0) rotateZ(0deg); }
  75% {
    -webkit-transform: translate3d(0, -20%, 0) rotateZ(-5deg);
    -moz-transform: translate3d(0, -20%, 0) rotateZ(-5deg);
    -ms-transform: translate3d(0, -20%, 0) rotateZ(-5deg);
    transform: translate3d(0, -20%, 0) rotateZ(-5deg); }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0deg);
    -moz-transform: translate3d(0, 0, 0) rotateZ(0deg);
    -ms-transform: translate3d(0, 0, 0) rotateZ(0deg);
    transform: translate3d(0, 0, 0) rotateZ(0deg); } }
@-webkit-keyframes bounceInUp {
  0%,100%,60%,75%,90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInUp {
  0%,100%,60%,75%,90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp; }

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -ms-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -ms-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -ms-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  100% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; } }
.animated.flip {
  -webkit-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip; }

@-webkit-keyframes twinkled {
  0% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }
@keyframes twinkled {
  0% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }
