.search-form {
  margin-bottom: 100px; }

.iframe-wrap {
  position: relative;
  height: 800px;
  perspective: 6000px;
  transform-style: preserve-3d; }

.frame-box {
  position: absolute;
  width: 720px;
  height: 800px;
  left: 0;
  background-color: rgba(30, 237, 255, 0.2);
  transform: translate3d(-260px, 0px, 0px) rotateY(85deg);
  transition: all 0.5s;
  transform-origin: 140% 50%; }
  .frame-box:hover {
    box-shadow: 0 0 16px #1EEDFF;
    right: 80px; }
  .frame-box iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #1EEDFF; }
  .frame-box.show {
    transform: translate3d(60px, 0px, 800px) rotateY(0deg) !important; }
  .frame-box .close, .frame-box .front {
    position: absolute;
    top: 10px;
    border: 1px solid #1EEDFF;
    font: bold 20px/1.5 "Microsoft YaHei";
    color: #1EEDFF;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .frame-box .close {
    right: 10px; }
  .frame-box .front {
    left: 10px; }

.frame-box.init:nth-child(1) {
  transform: translate3d(-200px, 0px, 0px) rotateY(30deg); }

.frame-box.init:nth-child(2) {
  transform: translate3d(-50px, 0px, 0px) rotateY(30deg); }

.frame-box.init:nth-child(3) {
  transform: translate3d(100px, 0px, 0px) rotateY(30deg); }

.frame-box.init:nth-child(4) {
  transform: translate3d(250px, 0px, 0px) rotateY(30deg); }

.frame-box.init:nth-child(5) {
  transform: translate3d(400px, 0px, 0px) rotateY(30deg); }

.frame-box.init:nth-child(6) {
  transform: translate3d(550px, 0px, 0px) rotateY(30deg); }

.frame-box.init:nth-child(7) {
  transform: translate3d(700px, 0px, 0px) rotateY(30deg); }

.checkbox-group {
  position: relative;
  padding: 10px 0;
  min-height: 26px;
  overflow: hidden; }
  .checkbox-group input[type="checkbox"] {
    position: absolute;
    left: -999px; }
  .checkbox-group label {
    position: relative;
    display: inline-block;
    padding: 0 10px 0 30px;
    margin: 0 10px 10px 0;
    line-height: 24px;
    text-align: right;
    border: 1px solid #1EEDFF;
    border-radius: 4px; }
    .checkbox-group label:before {
      content: '';
      position: absolute;
      left: 5px;
      top: 6px;
      border: 1px solid #1EEDFF;
      transition: all 0.5s;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  .checkbox-group :checked + label:before {
    background-color: #1EEDFF; }
