.iframe-wrap {
  position: relative;
  height: 800px;
  perspective: 6000px;
  transform-style: preserve-3d;
  background-color: rgba(255, 255, 255, 0.4); }

iframe {
  position: absolute;
  width: 720px;
  height: 800px;
  right: 0;
  border: 1px solid #1EEDFF;
  transition: all 0.5s;
  transform-origin: 140% 50%; }
  iframe:hover {
    box-shadow: 0 0 16px #1EEDFF; }

iframe:nth-child(1) {
  transform: translate3d(-260px, 0px, 0px) rotateY(15deg); }

iframe:nth-child(2) {
  transform: translate3d(-260px, 0px, 0px) rotateY(30deg); }

iframe:nth-child(3) {
  transform: translate3d(-260px, 0px, 0px) rotateY(45deg); }

iframe:nth-child(4) {
  transform: translate3d(-260px, 0px, 0px) rotateY(60deg); }

iframe:nth-child(5) {
  transform: translate3d(-260px, 0px, 0px) rotateY(75deg); }

.checkbox-group {
  position: relative;
  padding: 10px 0;
  overflow: hidden; }
  .checkbox-group input[type="checkbox"] {
    position: absolute;
    left: -999px; }
  .checkbox-group label {
    position: relative;
    display: inline-block;
    padding: 0 10px 0 30px;
    margin: 0 10px 10px 0;
    line-height: 24px;
    text-align: right;
    border: 1px solid #1EEDFF;
    border-radius: 4px; }
    .checkbox-group label:before {
      content: '';
      position: absolute;
      left: 5px;
      top: 6px;
      border: 1px solid #1EEDFF;
      transition: all 0.5s;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  .checkbox-group :checked + label:before {
    background-color: #1EEDFF; }
