body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000; }

.row {
  display: flex;
  margin-bottom: 6px; }
  .row:nth-child(2n) {
    margin-left: 18px; }

.point {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 6px;
  background: #1EEDFF; }
