@charset "UTF-8";
@import "normalize";

body,html{
    font: 12px/1.8 "Microsoft YaHei";
    min-height: 100%;
    background: #000;
    color: #eee;
}
header{
    height: 200px;
    background: #333;
    h1{
        font: normal 30px "Georgia","Microsoft Yahei","Arial";
        text-align: center;
        color: #FFF;
    }
}
.t-c{
    text-align: center;
}
.box{
    margin: 0 auto;
    width: 1024px;
}