@charset "UTF-8";
body,html{
    font: 12px/1.8 "Microsoft YaHei";
    min-height: 100%;
    background: #000;
    color: #eee;
}
header{
    height: 200px;
    background: #333;
    h1{
        font-size: 30px;
        text-align: center;
        color: #FFF;
    }
}