@charset "UTF-8";
@import "inc/normalize";

body,html{
    font: 12px/1.8 "Microsoft YaHei";
    min-height: 100%;
    background: #191919;
    color: #eee;
}
header{
    position: relative;
    z-index: 10;
    height: 200px;
    margin-bottom: 40px;
    background: #333;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.28);
    h1{
        font: normal 0 "Georgia","Microsoft Yahei","Arial";
        text-align: center;
        color: #FFF;
        span{
            font-size: 60px;
            line-height: 2;
        }
    }
}
.t-c{
    text-align: center;
}
.box{
    margin: 0 auto;
    width: 1024px;
}
.u-content{
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 60px;
    border-radius: 4px;
    background-color: #2F2F31;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.28);
}
.half-letter{
    position: relative;
    display: inline-block;
    overflow: hidden;

    &:before{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 50%;
        color: red;
        overflow: hidden;
        content: attr(data-letter);
    }
}

