@charset "UTF-8";
@import "inc/mixins";
.util-wrap{
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    font-size: 14px;
    overflow: hidden;
    li{
        box-sizing: border-box;
        float: left;
        padding: 10px;
        width: 25%;
        height: 256px;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;

        p{
            line-height: 2;
        }
    }

    .ellipsis{
        @include ellipsis;
    }
    .ellipsis2{
        height: 56px;
        @include ellipsis(2);
    }
    .nowrap{
        width: 50%;
        background-color: #444;
        padding: 10px;
        white-space: nowrap;
    }

}
