@charset "UTF-8";
@import "inc/mixins";
$theme2 : #4EA9F3;
$theme1 : #1EEDFF;

.main-box{
    height: 1000px;
}
.duang-wrap{
    margin: 60px auto;
    width: 300px;
    height: 300px;
    border: 2px solid $theme1;
}
.duang-content{
    opacity: 0.8;
    height: 600px;
    background-image: linear-gradient(45deg,
            rgba(255,0,0,0) 0%,
            rgba(255,0,0,0.8) 7%,
            rgba(255,0,0,1) 11%,
            rgba(255,0,0,1) 12%,
            rgba(255,252,0,1) 28%,
            rgba(1,180,7,1) 45%,
            rgba(0,234,255,1) 60%,
            rgba(0,3,144,1) 75%,
            rgba(255,0,198,1) 88%,
            rgba(255,0,198,0.8) 93%,
            rgba(255,0,198,0) 100%);
}