* {
    box-sizing: border-box;
}
#table-wrap {
    position: relative;
    overflow: hidden;
}
.edit-table {
    border-collapse:collapse;
    td {
        border: 1px solid #ddd;
        width: 120px;
        height: 28px;
        box-sizing: border-box;
        word-break: break-all;

        &:hover {
            background: #f1f1f1;
        }

        textarea {
            display: block;
            max-width: 100%;
            max-height: 100%;
            box-sizing: border-box;
        }
    }

    .tr-col-index {
        background: #e6e6e6;
        td {
            text-align: center;
            height: 16px;
            user-select: none;
        }
    }

    .td-row-index {
        width: 40px;
        text-align: center;
        background: #e6e6e6;
        user-select: none;
    }
}

.table-select {
    position: absolute;
    z-index: 99;
    top: -100px;
    border: 2px solid rgba(#217346, 0.8);
    pointer-events: none;
}