@import "inc/theme";

$bodyPadding: 20px;

html, body {
    height: 100%;
    box-sizing: border-box;
}
body {
    padding: $bodyPadding;
    font-size: 13px;
    color: #a6a6a6;
}

$navWidth: 200px;

.scroll {
    padding: 10px;
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    overflow-x: hidden;
    border: $border3;
}
.scroll::-webkit-scrollbar{
    width: 6px;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba($theme1, 0.6);
}

#catalog {
    float: left;
    width: $navWidth;
    font-size: 16px;
    @extend .scroll;

    ol {
        list-style-position: inside;
        color: #00aa00;
    }

    li {
        margin-bottom: 10px;
    }
    a {
        color: inherit;
    }
}



#article {
    margin-left: $navWidth + 40px;
    @extend .scroll;

    h1 {
        color: $theme1;
    }

    .eg-error {
        color: #a80000;
    }

    ol, ul {
        list-style-position: inside;
    }
    ul {
        list-style-type: disc;
    }

    pre.code {
        margin: 5px 0;
        padding: 10px;
        border-radius: 8px;
        background: #333;
    }
}