@import "inc/theme";

$bodyPadding: 20px;

html, body {
    height: 100%;
    box-sizing: border-box;
}
body {
    padding: $bodyPadding;
    font-size: 13px;
    color: #a6a6a6;
}

$navWidth: 200px;

#catalog {
    float: left;
    padding: 10px;
    width: $navWidth;
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    font-size: 16px;
    border: $border3;

    ol {
        list-style-position: inside;
        color: #00aa00;
    }

    li {
        margin-bottom: 10px;
    }
    a {
        color: inherit;
    }
}

#article {
    margin-left: $navWidth + 40px;
    padding: 10px;
    border: $border3;

    h1 {
        color: $theme1;
    }

    .eg-error {
        color: #a80000;
    }

    ol, ul {
        list-style-position: inside;
    }
    ul {
        list-style-type: disc;
    }
}