@charset "UTF-8";
@import "inc/mixins";
@import "inc/theme";

$cubeWidth : 100px;
$squareWidth : 1000px;
$squareHeight : 800px;

html, body, .stage{
    height: 100%;

}

#grids{
    position: absolute;
    left: 0;
    right: 0;

    td{
        width: $cubeWidth;
        height: $cubeWidth;
        box-sizing: border-box;
        border: 4px solid $theme1;
    }
}

.stage{
    position: relative;
    perspective: 3000px;

    .square{
        position: absolute;
        left: 100px;
        top: 100px;
        width: 1000px;
        height: 800px;
        border: $border1;
        transform: translate3d(10px, -10px, -1160px) rotateX(60deg) rotateY(0deg) rotateZ(45deg);
        //background-color: rgba($theme1, 0.4);
        transform-style: preserve-3d;
        transition: all 0.5s;
    }

    .cubes{
        position: absolute;
        transform-style: preserve-3d;
        width: $cubeWidth;
        height: $cubeWidth;
        transition: all 0.5s;
    }


    .face {
        position: absolute;
        left: 0;
        top: 0;
        width: $cubeWidth;
        height: $cubeWidth;
        outline: 1px solid;
        background: #ccc;
        transition: all 0.5s;
        list-style: none;
        opacity: 0.5;
        color: #000;
        font-size: 50px;
        text-align: center;
        line-height: 100px;

    }
    .front{
        transform: translate3d(0px, 50%, 0px) rotateX(-90deg);
    }
    .back{
        transform: translate3d(0px, -50%, 0px) rotateX(90deg) rotateZ(180deg);
    }
    .left{
        transform: translate3d(-50%, 0px, 0px) rotateY(-90deg) rotateZ(90deg);
    }
    .right{
        transform: translate3d(50%, 0px, 0px) rotateY(90deg) rotateZ(-90deg);
    }
    .up{
        transform: translate3d(0px, 0px, $cubeWidth / 2);
    }
    .bottom{
        transform: translate3d(0px, 0px, -$cubeWidth / 2) rotateY(180deg);
    }
    .left, .right, .front, .back{
        transform-origin: 0 $cubeWidth;
    }

}