@charset "UTF-8";
@import "inc/mixins";
@import "inc/theme";

$cubeWidth : 100px;

html, body, .stage{
    height: 100%;

}

.stage{
    position: relative;
    perspective: 3000px;


    .square{
        position: absolute;
        left: 100px;
        top: 100px;
        width: 1000px;
        height: 800px;
        border: $border1;
        //transform: translate3d(10px,-10px, -970px) rotateX(70deg) rotateY(0deg) rotateZ(-50deg);
        background-color: rgba($theme1, 0.6);
        transform-style: preserve-3d;
    }

    .cubes{
        position: absolute;
        transform-style: preserve-3d;
        width: $cubeWidth;
        height: $cubeWidth;
    }


    .face {
        position: absolute;
        left: 0;
        top: 0;
        width: $cubeWidth;
        height: $cubeWidth;
        outline: 1px solid;
        background: #ccc;
        transition: all 0.5s;
        list-style: none;
        opacity: 0.5;
        color: #000;
        font-size: 50px;
        text-align: center;
        line-height: 100px;

    }
    .front{
        transform: translate3d(0px, 0px, $cubeWidth / 2);
    }
    .back{
        transform: translate3d(0px, 0px, -$cubeWidth / 2);;
    }
    .left{
        transform: translate3d(-50% / 2, 0px, 0px) rotateY(90deg);
    }
    .right{
        transform: translate3d(50% / 2, 0px, 0px) rotateY(90deg);
    }
    .up{
        transform: translate3d(0px, -50% / 2, 0px) rotateX(90deg);
    }
    .bottom{
        transform: translate3d(0px, 50% / 2, 0px) rotateX(90deg);
    }

}