@import "cropper";
#canvas {
    display: block;
    //max-width: 100%;
    box-shadow: 0 0 10px currentColor;
    background: #FFF;
}

.canvas-wrap {
    display: inline-block;
    position: relative;
}

fieldset {
    border-width: 1px;

    input, button, select {
        margin: 3px;
    }
}

.v-input {
    height: 26px;
    width: 100px;

    &[type="number"] {
        width: 60px;
    }
}

.wechat-nine {
    display: flex;
    flex-wrap: wrap;

    li {
        width: 33.3333%;
        padding: 2px;
        box-sizing: border-box;
        img {
            display: block;
            max-width: 100%;
        }
    }
}

.opt-menu {
    float: left;
    width: 300px;
}

.content-wrap {
    padding-top: 20px;
    margin-left: 320px;
}