@charset "UTF-8";
@import "inc/normalize";
@import "inc/mixins";


html, body {
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    font-family: "Microsoft Yahei" , Arial, sans-serif;
    background: #160026 url("../img/report/bg.jpg") no-repeat center / cover;
    color: #fff;
    * {
        box-sizing: border-box;
    }
}
.cursor {
    display: none;
    margin-left: 12px;
    width: 3px;
    height: 30px;
    background-color: #333;
    vertical-align: middle;
    @include css3(animation, twinkled 0.5s infinite);
}
.msg {
    padding: 0 86px;
    font-size: 42px;
    text-align: center;
    //noinspection CssInvalidPropertyValue
    word-break: break-word;

    &.pre {
        white-space: pre;
    }

    strong {
        font-size: 1.2em;
    }
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.meteor {
    position: absolute;
    top: -1333px;
    width: 31px;
    height: 52px;
    background: url("../img/report/meteor.png");

    &.m1 {
        left: 160%;
        @include css3(animation, meteor 4s 3s infinite);
    }
    &.m2 {
        left: 180%;
        @include css3(animation, meteor 6s 4s infinite);
    }
    &.m3 {
        left: 210%;
        @include css3(animation, meteor 5s 5s infinite);
    }
    &.m4 {
        left: 240%;
        @include css3(animation, meteor 4s 7s infinite);
    }
}

.float {
    position: absolute;

    &.f1, &.f2 {
        width: 35px;
        height: 61px;
        background: url("../img/report/float_triangle.png");
        @include css3(animation, float 15s infinite alternate);
    }

    &.f1 {
        top: 700px;
        left: 50px;
    }

    &.f2 {
        top: 230px;
        right: 50px;
    }

    &.f3, &.f4 {
        width: 29px;
        height: 44px;
        background: url("../img/report/float_triangle2.png");
        @include css3(animation, float 10s infinite alternate);
    }

    &.f3 {
        left: 230px;
        bottom: 150px;
    }

    &.f4 {
        right: 150px;
        bottom: 300px;
    }
}
.technical-support {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 90px;
    z-index: 10;
    font-size: 28px;
    text-align: center;
    a {
        color: #fff;
    }
}
.double-arrow {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 10;
    width: 44px;
    height: 44px;
    background: url("../img/report/double_arrow.png");
    @include css3(transform, translate3d(-50%, 0, 0));
    @include css3(animation, twinkled 1.5s infinite);
}
footer {
    display: none;
}
.page {
    padding-top: 90px;

    &.p1 {
        $c1Width : 632px;
        $c2Width : 570px;
        $purpleWidth: 458px;
        $borderWidth : 4px;

        padding-top: 140px;

        .club-wrap {
            position: relative;
        }
        .dash-circle {
            margin: auto;
            border: $borderWidth dashed #877f8e;
        }

        .c1 {
            @include circle($c1Width);
        }
        .c2 {
            @include circle($c2Width);
            @include css3(transform, translate3d(0, ($c1Width - $c2Width) / 2 - $borderWidth, 0));
        }
        //382067 ->  63529a

        .purple-circle {
            padding-top: 130px;
            margin: auto;
            @include circle($purpleWidth);
            @include css3(transform, translate3d(0, ($c2Width - $purpleWidth) / 2 - $borderWidth, 0));
            background-image: -webkit-radial-gradient(#63529a, #382067);
            background-image: radial-gradient(#63529a, #382067);
            box-shadow: 0 0 60px #9889cc;
        }

        h2 {
            font: bold 68px 'SimHei', 'Microsoft YaHei', 'Arial Black', 'Arial', 'Helvetica';
            color: #dce3ee;
            text-align: center;
        }
        .annual-summary {
            margin: 40px auto;
            width: 314px;
            height: 75px;
            background: url("../img/report/annual_summary.png") no-repeat center / cover;
        }
        .stars {
            position: absolute;
            top: 8px;
            left: 55px;
            width: 622px;
            height: 613px;
            background: url("../img/report/stars_color.png");
        }
        .start {
            display: block;
            margin: 80px auto;
            width: 420px;
            height: 100px;
            font-size: 40px;
            letter-spacing: 2px;
            background-color: #6364e9;
            border-radius: 10px;
            color: #fff;
            box-shadow: 0 0 20px #333;
            @include css3(transform, translate3d(0, 1000px, 0));

        }
    }

    &.p2 {
        .circle-wrap {
            margin: 300px auto 0;
            width: 316px;
            height: 316px;
        }
        .circle {
            padding: 22px;
            @include circle(100%);
            background: rgba(116, 76, 215, 0.25);
        }

        .red-ball {
            position: absolute;
            top: 510px;
            left: 50%;
            margin-left: -88px;
            padding-top: 10px;
            width: 175px;
            height: 175px;
            text-align: center;
            background: url("../img/report/red_ball.png");
            @include css3(transform, translate3d(0, -1000px, 0));
        }
    }
    &.p3 {

    }
    &.p4 {
    }

    .p7 {
        .robot {
            width: 611px;
            height: 599px;
            background: url("../img/report/robot.png");
        }
    }
}
@keyframes meteor{
    0% {
        @include css3(transform, scale(2) translate3d(0, 0, 0));
    }

    100% {
        @include css3(transform, scale(2) translate3d(-2150px, 4000px, 0));
    }
}

@keyframes float {
    0% {
        @include css3(transform, translate3d(0, 0, 0) rotateZ(0deg));
    }

    25% {
        @include css3(transform, translate3d(0, 20%, 0) rotateZ(0deg));
    }

    30% {
        @include css3(transform, translate3d(0, 20%, 0) rotateZ(10deg));
    }

    40% {
        @include css3(transform, translate3d(0, 20%, 0) rotateZ(-10deg));
    }

    50% {
        @include css3(transform, translate3d(0, 20%, 0) rotateZ(0deg));
    }
    
    75% {
        @include css3(transform, translate3d(0, -20%, 0) rotateZ(-5deg));
    }

    100% {
        @include css3(transform, translate3d(0, 0, 0)  rotateZ(0deg));
    }
}

@-webkit-keyframes bounceInUp {
    0%,100%,60%,75%,90% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,3000px,0);
        transform: translate3d(0,3000px,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0,-20px,0);
        transform: translate3d(0,-20px,0)
    }

    75% {
        -webkit-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-5px,0);
        transform: translate3d(0,-5px,0)
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

@keyframes bounceInUp {
    0%,100%,60%,75%,90% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,3000px,0);
        -ms-transform: translate3d(0,3000px,0);
        transform: translate3d(0,3000px,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0,-20px,0);
        -ms-transform: translate3d(0,-20px,0);
        transform: translate3d(0,-20px,0)
    }

    75% {
        -webkit-transform: translate3d(0,10px,0);
        -ms-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-5px,0);
        -ms-transform: translate3d(0,-5px,0);
        transform: translate3d(0,-5px,0)
    }

    100% {
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp
}

@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-360deg);
        transform: perspective(400px) rotate3d(0,1,0,-360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);
        transform: perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);
        transform: perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95,.95,.95);
        transform: perspective(400px) scale3d(.95,.95,.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}

@keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0,1,0,-360deg);
        -ms-transform: perspective(400px) rotate3d(0,1,0,-360deg);
        transform: perspective(400px) rotate3d(0,1,0,-360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);
        -ms-transform: perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);
        transform: perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);
        -ms-transform: perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);
        transform: perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95,.95,.95);
        -ms-transform: perspective(400px) scale3d(.95,.95,.95);
        transform: perspective(400px) scale3d(.95,.95,.95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    100% {
        -webkit-transform: perspective(400px);
        -ms-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}

.animated.flip {
    -webkit-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip
}

@-webkit-keyframes twinkled {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
@keyframes twinkled {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes bounce {
    0%,100%,20%,53%,80% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    40%,43% {
        -webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        -webkit-transform: translate3d(0,-30px,0);
        transform: translate3d(0,-30px,0)
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        -webkit-transform: translate3d(0,-15px,0);
        transform: translate3d(0,-15px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0)
    }
}

@keyframes bounce {
    0%,100%,20%,53%,80% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    40%,43% {
        -webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        -webkit-transform: translate3d(0,-30px,0);
        -ms-transform: translate3d(0,-30px,0);
        transform: translate3d(0,-30px,0)
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        transition-timing-function: cubic-bezier(0.755,.050,.855,.060);
        -webkit-transform: translate3d(0,-15px,0);
        -ms-transform: translate3d(0,-15px,0);
        transform: translate3d(0,-15px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        -ms-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0)
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom
}
@-webkit-keyframes bounceInDown {
    0%,100%,60%,75%,90% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-3000px,0);
        transform: translate3d(0,-3000px,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0,25px,0);
        transform: translate3d(0,25px,0)
    }

    75% {
        -webkit-transform: translate3d(0,-10px,0);
        transform: translate3d(0,-10px,0)
    }

    90% {
        -webkit-transform: translate3d(0,5px,0);
        transform: translate3d(0,5px,0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInDown {
    0%,100%,60%,75%,90% {
        -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
        transition-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-3000px,0);
        -ms-transform: translate3d(0,-3000px,0);
        transform: translate3d(0,-3000px,0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0,25px,0);
        -ms-transform: translate3d(0,25px,0);
        transform: translate3d(0,25px,0)
    }

    75% {
        -webkit-transform: translate3d(0,-10px,0);
        -ms-transform: translate3d(0,-10px,0);
        transform: translate3d(0,-10px,0)
    }

    90% {
        -webkit-transform: translate3d(0,5px,0);
        -ms-transform: translate3d(0,5px,0);
        transform: translate3d(0,5px,0)
    }

    100% {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown
}