@charset "UTF-8";
@import "inc/mixins";
@import "inc/theme";

.search-form{
    margin-bottom: 100px;
}
.iframe-wrap {
    position: relative;
    height: 800px;
    perspective: 6000px;
    transform-style: preserve-3d;
}
.frame-box{
    position: absolute;
    width: 720px;
    height: 800px;
    left: 0;
    background-color: rgba($theme1, 0.2);
    transform: translate3d(-260px, 0px, 0px) rotateY(85deg);
    transition: all 0.5s;
    transform-origin: 140% 50%;
    &:hover {
        box-shadow: 0 0 16px $theme1;
        right: 80px;
    }
    iframe {
        display: block;
        width: 100%;
        height: 100%;
        border: $border1;
    }

    &.show {
        transform: translate3d(60px, 0px, 800px) rotateY(0deg)!important;

        .close{
            display: block;
        }
    }

    .close, .front{
        position: absolute;
        top: 10px;
        border: $border2;
        font: bold 20px/1.5 "Microsoft YaHei";
        color: $theme2;
        text-align: center;
        cursor: pointer;
        @include circle(30px);
    }
    .close{
        display: none;
        right: 10px;
    }
    .front{
        min-width: 50px;
        left: 10px;
    }
}

@for $i from 0 through 6 {
    .frame-box.init:nth-child(#{$i+1}){
        transform: translate3d($i*150px - 200, 0px, 0px) rotateY(30deg);
    }
}
.checkbox-group{
    position: relative;
    padding: 10px 0;
    min-height: 26px;
    overflow: hidden;

    input[type="checkbox"] {
        position: absolute;
        left: -999px;
    }
    label {
        position: relative;
        display: inline-block;
        padding: 0 10px 0 30px;
        margin: 0 10px 10px 0;
        line-height: 24px;
        text-align: right;
        border: $border1;
        border-radius: 4px;

        &:before{
            content: '';
            position: absolute;
            left: 5px;
            top: 6px;
            border: $border1;
            transition: all 0.5s;
            @include circle(10px);
        }
    }

    :checked + label:before{
        background-color: $theme1;
    }
}