@charset "UTF-8";
@import "inc/mixins";
@import "inc/theme";

.iframe-wrap {
    position: relative;
    height: 800px;
    perspective: 6000px;
    transform-style: preserve-3d;
    background-color: rgba(#FFF, 0.4);
}

iframe {
    position: absolute;
    width: 720px;
    height: 800px;
    right: 0;
    border: $border1;
    //transform: translate3d(-260px, 0px, 0px) rotate3d(0, 0, 0, 45deg);
    transition: all 0.5s;
    transform-origin: 140% 50%;
    &:hover {
        box-shadow: 0 0 16px $theme1;
    }
}
@for $i from 1 through 5 {
    iframe:nth-child(#{$i}){
        //font-size: $i*2px;
        transform: translate3d(-260px, 0px, 0px) rotateY($i*15deg);
    }
}
.checkbox-group{
    position: relative;
    padding: 10px 0;
    overflow: hidden;

    input[type="checkbox"] {
        position: absolute;
        left: -999px;
    }
    label {
        position: relative;
        display: inline-block;
        padding: 0 10px 0 30px;
        margin: 0 10px 10px 0;
        line-height: 24px;
        text-align: right;
        border: $border1;
        border-radius: 4px;

        &:before{
            content: '';
            position: absolute;
            left: 5px;
            top: 6px;
            border: $border1;
            transition: all 0.5s;
            @include circle(10px);
        }
    }

    :checked + label:before{
        background-color: $theme1;
    }
}