@charset "UTF-8";
@import "inc/mixins";
@import "inc/theme";

$length: 11;
$width: 11;
$ceilWidth: 60px;

.game-tip{
    height: 60px;
}

.content {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}
#background{
    position: relative;
    margin: 10px auto;
    width: $width * $ceilWidth;
    height: $length * $ceilWidth;
    table {

        td {
            position: relative;
            width: $ceilWidth;
            height: $ceilWidth;
            border: $border1;
            box-sizing: border-box;
        }

        .food:before{
            @extend .content;
            background: $theme2;
        }
    }
}

#snake {
    li {
        list-style: none;
        position: absolute;
        width: $ceilWidth;
        height: $ceilWidth;
        box-sizing: border-box;

        &:before {
            @extend .content;
            background: #ccc;
        }

        &:first-child::before {
            background-color: yellowgreen;
        }

        &:last-child::before {
            background-color: tomato;
        }
    }
}