@charset "UTF-8";
@import "inc/mixins";
@import "inc/theme";

$cubeWidth : 40px;
$squareWidth : 800px;
$squareHeight : 120px;

html, body, .stage{
    height: 100%;
    overflow: hidden;

}


.stage{
    position: relative;
    perspective: 3000px;
    -webkit-user-select: none;

    .square{
        position: absolute;
        left: 50%;
        top: 70%;
        width: $squareWidth;
        height: $squareHeight;
        transform: translate3d(-50%, -50%, 0) rotateX(60deg) rotateY(0deg) rotateZ(12deg);
        transform-style: preserve-3d;
        transition: all 2s;



        table{
            border: 1px solid $theme1;
            td {
                width: $cubeWidth;
                height: $cubeWidth;
                font-size: 20px;
                text-align: center;
            }
            tr:nth-child(3){
                @for $i from 0 through 19{
                    td:nth-child(#{$i+1}):before {
                        content: '#{$i}';
                    }
                }
            }
        }
    }

    .cubes{
        position: absolute;
        left: 0;
        top: 0;
        transform-style: preserve-3d;
        width: $cubeWidth;
        height: $cubeWidth;
        transition: all 0.3s;
        &.active{
            .face{
                box-shadow: 0 0 36px $theme1;
            }
        }
    }


    .face {
        position: absolute;
        left: 0;
        top: 0;
        width: $cubeWidth;
        height: $cubeWidth;
        outline: $border1;
        background: radial-gradient(ellipse at center, #444 0%, #000000 90%);
        transition: all 0.5s;
        list-style: none;
        opacity: 0.5;
    }
    .front{
        transform: translate3d(0px, 50%, 0px) rotateX(-90deg);
    }
    .back{
        transform: translate3d(0px, -50%, 0px) rotateX(90deg) rotateZ(180deg);
    }
    .left{
        transform: translate3d(-50%, 0px, 0px) rotateY(-90deg) rotateZ(90deg);
    }
    .right{
        transform: translate3d(50%, 0px, 0px) rotateY(90deg) rotateZ(-90deg);
    }
    .up{
        transform: translate3d(0px, 0px, $cubeWidth / 2);
    }
    .bottom{
        transform: translate3d(0px, 0px, -$cubeWidth / 2) rotateY(180deg);
    }
    .left, .right, .front, .back{
        transform-origin: 0 $cubeWidth;
    }

}