@charset "UTF-8";
@import "inc/mixins";
@import "inc/theme";
@import "inc/spa.reset";
@import "inc/spa.standard";

#spa {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;

    min-width: 500px;
    min-height: 500px;
    overflow: hidden;

    border-radius: 8px 8px 0 8px;
    background-color: #fff;
}

.spa-x-select{

}

.spa-x-clearfloat{
    height: 0!important;
    float: none!important;
    visibility: hidden!important;
    clear: both!important;
}

.spa-shell-head,.spa-shell-head-logo,.spa-shell-head-acct,.spa-shell-head-search,
.spa-shell-main, .spa-shell-main-nav, .spa-shell-main-content, .spa-shell-foot,
.spa-shell-chat, .spa-shell-modal{
    position: absolute;
}

.spa-shell-head{
    @include rect3(0, 0, 0, inherit, 40px);
}

.spa-shell-head-logo{
    @include rect2(4px, 4px, 128px, 32px);
    background-color: #ffa500;
}

.spa-shell-head-acct{
    @include rect2r(4px, 0, 64px, 32px);
    background-color: #008000;
}

.spa-shell-head-search{
    @include rect2r(4px, 64px, 248px, 32px);
    background-color: #00f;
}

.spa-shell-main{
    @include rect(4px, 40px, 0, 0);
}

.spa-shell-main-content, .spa-shell-main-nav{
    top: 0;
    bottom: 0;
}

.spa-shell-main-nav{
    width: 250px;
    background-color: #eee;
}

.spa-x-closed {

    .spa-shell-main-nav{
        width: 0;
    }

    .spa-shell-main-content{
        left: 0;
    }
}

.spa-shell-main-content{
    left: 250px;
    right: 0;
    background-color: #ddd;
}

.spa-shell-foot{
    @include rect(inherit, 0, 0, 0);
    height: 40px;
}

.spa-shell-chat{
    bottom: 0;
    right: 0;
    width: 300px;
    height: 15px;
    background-color: #f00;
    z-index: 1;
}
.spa-shell-modal{
    margin-top: -200px;
    margin-left: -200px;
    @include rect2(50%, 50%, 400px, 400px);
    background-color: #fff;
    border-radius: 3px;
    z-index: 2;
}