@import "theme";

.btn{
    padding: 5px 10px;
    color: #FFF;
    background-color: #4EA9F3;
    border-radius: 4px;
}
button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}
.disabled-msg {
    display: none;
}
button[disabled] + .disabled-msg {
    display: inline-block;
}
.v-input{
    padding: 0 10px;
    width: 300px;
    height: 36px;
    color: $theme1;
    background-color: transparent;
    border: 1px solid $theme1;
    border-radius: 4px;
}
.form-line {
    padding: 12px 0;
}

input[type="checkbox"], input[type="radio"] {
    vertical-align: middle;
}


input[type="checkbox"]+label, input[type="radio"]+label {
    display: inline-block;
    margin-right: 12px;
}

legend {
    font-size: 20px;
}
fieldset {
    border-color: $theme1;
}

