@charset "UTF-8";

body{
    font: 13px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
    color: #444;
    background-color: #888;
}

a {
    text-decoration: none;
}

a:link, a:visited{
    color: inherit;
}

a:hover {
    text-decoration: underline;
}