* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    height: 1080px;
    width: 3858px;
}
body {
    padding: 40px 36px;
    background: url("../src/big-screen/bg.jpg") no-repeat left top / 100% 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

@theme: #2df1ff;

.wrap {
    padding: 20px 46px;
    height: 100%;
    .modal {
        position: absolute;
        padding: 10px 0 0 22px;
        border: 1px solid rgba(41, 241, 255, 0.3);
        color: #fff;
        h3 {
            position: relative;
            font-size: 18px;
            z-index: 1;
        }
        h4 {
            position: relative;
            z-index: 1;
            font-size: 12px;
            color: @theme;
        }
        .coner{
            position: absolute;
            width: 13px;
            height: 13px;
            &:before, &:after {
                position: absolute;
                content: '';
                background: #2df1ff;
            }

            &:before {
                width: 3px;
                left: 5px;
                top: 5px;
                bottom: 0;
            }

            &:after {
                height: 3px;
                top: 5px;
                left: 5px;
                right: 0;
            }
        }
        .c1 {
            left: -6px;
            top: -6px;
        }
        .c2 {
            top: -6px;
            right: -6px;
            transform: rotate(90deg);
        }
        .c3 {
            bottom: -6px;
            right: -6px;
            transform: rotate(180deg);
        }
        .c4 {
            bottom: -6px;
            left: -6px;
            transform: rotate(270deg);
        }
    }
}
.left-modal {
    float: left;
    position: relative;
    width: 912px;
    height: 100%;


    .l-m-1 {
        width: 248px;
        height: 224px;
    }

    .l-m-2 {
        top: 228px;
        width: 248px;
        height: 226px;

        .canvas-wrap {
            position: relative;
            top: -10px;
        }
    }
    .l-m-3 {
        top: 458px;
        width: 248px;
        height: 269px;
    }

    .l-m-4 {
        left: 252px;
        height: 290px;
        width: 657px;
    }
    .l-m-5 {
        top: 294px;
        left: 252px;
        width: 657px;
        height: 434px;
    }
    .l-m-6 {
        bottom: 0;
        width: 910px;
        height: 227px;
    }
}

.right-modal {
    float: right;
    position: relative;
    width: 880px;
    height: 100%;

    .modal {
        width: 100%;
    }

    .r-m-1 {
        top: 80px;
        height: 345px;
    }

    .r-m-2 {
        top: 430px;
        height: 436px;
    }

    .r-m-3 {
        height: 90px;
        bottom: 0;
    }
}