@import "inc/_normalize";

body {
    background: #eee6d8;
}

* {
    box-sizing: border-box;
}

ol, ul, li {
    list-style: none;
}

header {
    height: 423px;
    background: url("../src/questionnaire-survey/e_banner.jpg") no-repeat center;

    .logo {
        position: absolute;
        top: 40px;
        right: 65px;
        width: 200px;
        height: 53px;
        background: url("../src/questionnaire-survey/e_zhiweicloud_logo.png") no-repeat center;
    }

    h1 {
        position: relative;
        top: 150px;
        z-index: 2;
        height: 158px;
        background: url("../src/questionnaire-survey/e_title.png") no-repeat center;
        transform: scale(0.6);
        transition: all 0.5s cubic-bezier(0.71, -0.47, 0.39, 1.86);

        &.animated {
            transform: scale(1);
        }
    }

    h2 {
        position: relative;
        top: 150px;
        margin-top: 30px;
        font-size: 28px;
        font-weight: normal;
        color: #315a92;
        text-align: center;
        background: url("../src/questionnaire-survey/e_parting_line.png") no-repeat center;


    }

    h3 {
        position: absolute;
        margin-left: -360px;
        top: 70px;
        left: 50%;
        width: 297px;
        height: 83px;
        font-size: 28px;
        line-height: 60px;
        font-weight: normal;
        text-align: center;
        color: #ccf7ff;
        opacity: 0;
        background: url("../src/questionnaire-survey/e_title2_bg.png") no-repeat center;
        transform: rotate(200deg);
        transform-origin: 224px 100%;
        transition: all 1s cubic-bezier(0.71, -0.47, 0.39, 1.86);

        &.animated {
            transform: rotate(0deg);
            opacity: 1;
        }
    }

}

.main {
    position: relative;
    margin: 42px auto;
    width: 1332px;
    background: #fff;
    perspective: 1600px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

    &.animated {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .header {
        position: absolute;
        width: 100%;
        height: 360px;
        background: #ffeaaa;

        .msg {
            z-index: 1;
            padding: 30px 40px;
            background: #fff8ea;

            .text {
                padding: 55px 55px 0;
                height: 304px;
                font-size: 28px;
                line-height: 46px;
                color: #315a92;
                border: 2px solid #e6d9c1;
            }
        }
        .bg, .msg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transform-origin: 50% 0;
        }

        .bg {
            z-index: 2;
            background: #ffeaaa;
            transform: rotateX(0deg);
            -webkit-transition: all 2s;
            -moz-transition: all 2s;
            -ms-transition: all 2s;
            -o-transition: all 2s;
            transition: all 2s;

            &.animated {
                opacity: 0;
                -webkit-transform: rotateX(270deg);
                -moz-transform: rotateX(270deg);
                -ms-transform: rotateX(270deg);
                -o-transform: rotateX(270deg);
                transform: rotateX(270deg);
            }
        }
    }

    .content {
        padding: 0 0 310px 0;
        height: 450px;
        overflow: hidden;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -ms-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;

        &.show {
            padding-top: 360px;
            height: 2365px;
            overflow: visible;
        }

        form {
            padding: 48px 95px;

            h2 {
                margin: 28px 0;
                padding-left: 42px;
                font-size: 28px;
                color: #315a92;
                background: url("../src/questionnaire-survey/e_pen.png") no-repeat left center;
            }

            li {
                margin-bottom: 60px;
                font-size: 24px;
                line-height: 52px;
            }

            .q {
                color: #315a92;

                input[type="text"]{
                    width: 180px;
                    border: 0;
                    border-bottom: 1px dashed #315a92;
                }
            }

            .a {
                padding-left: 50px;
                color: #4c4c4c;

                textarea {
                    display: block;
                    width: 100%;
                    height: 260px;
                    border: 1px solid #315a92;
                }

                input[type="checkbox"], input[type="radio"] {
                    margin-right: 5px;
                    width: 20px;
                    height: 20px;
                }
            }

            .submit {
                display: block;
                margin: 50px auto;

                width: 260px;
                height: 60px;
                line-height: 60px;

                font-size: 30px;
                color: #fff;
                background: #1e6ae9;
                border-radius: 30px;

            }
        }

        .company-info-wrap {
            position: relative;
            border-top: 1px dashed #315a92;
            padding: 60px 95px 0;

            .tip {
                margin-bottom: 60px;
                font-size: 22px;
                line-height: 42px;
                color: #315a92;
            }

            .company-info {
                font-size: 24px;
                line-height: 42px;
                color: #4c4c4c;
            }

            .scissors {
                position: absolute;
                top: -31px;
                left: -45px;
                width: 63px;
                height: 40px;
                background: url("../src/questionnaire-survey/e_scissors.png");
            }

            .qrcode {
                position: absolute;
                right: 95px;
                bottom: 0;
                width: 204px;
                height: 214px;
                background: url("../src/questionnaire-survey/e_zhiweicloud_qrcode.png") no-repeat center;
            }
        }


    }

    .footer {
        position: absolute;
        bottom: 0;
        left: -13px;
        z-index: 3;
        width: 1354px;
        height: 310px;
        background: url("../src/questionnaire-survey/e_email.png") no-repeat center;
    }
}