.form {
  padding: 20px;
  text-align: center; }
  .form .input-wrap {
    text-align: center; }
  .form input[type="number"] {
    width: 200px;
    height: 120px;
    margin: 10px;
    font-size: 72px; }
  .form .submit {
    margin: 10px;
    width: 160px;
    height: 90px;
    font-size: 48px; }

.result {
  padding: 20px;
  font-size: 24px;
  max-height: 600px;
  overflow-x: hidden; }
