:root {
    --size: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: calc(var(--size) * 4);
    min-height: calc(var(--size) * 5);
    height: 100vh;
    background: #333;
}

.wrap {
    border: 3px double #00a2d4;
}

.map {
    position: relative;
    width: calc(var(--size) * 4);
    height: calc(var(--size) * 5);
    color: #666;
}

.map > div {
    position: absolute;
    background-color: currentColor;
    box-shadow: 0 0 20px #333 inset;
}

.cc {
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    color: #eee;
}

.b1, .b2, .b3, .b4 {
    width: var(--size);
    height: var(--size);
    color: #777;
}

.zf, .hz, .zy, .mc {
    width: var(--size);
    height: calc(var(--size) * 2);
}

.zf {
    color: #000;
}

.hz {
    color: #fcbe04;
}

.zy {
    color: #077bf6;
}

.mc {
    color: #a214ee;
}

.gy {
    width: calc(var(--size) * 2);
    height: var(--size);
    color: #f5272e;
}