<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% if page.keywords != null %}
    <meta name="keywords" content="{{page.keywords}}">
    {% endif %}
    <meta name="description" content="{{description}}">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="{{site.cname}}img/favicon.ico">
    <link rel="stylesheet" href="{{site.cname}}css/github-blog.css"/>
    {% if page.css != null %}
    <link rel="stylesheet" href="{{site.cname}}css/{{page.css}}.css"/>
    {% endif %}
</head>
<body>
<h1>{{page.title}}</h1>
{{ content }}
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2143466"></script>
<!-- UY END -->
</body>
</html>