<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.cname}}css/common.css"/>
    {% if page.css != null %}
    <link rel="stylesheet" href="{{site.cname}}css/{{page.css}}.css"/>
    {% endif %}
    <link rel="shortcut icon" href="{{site.cname}}img/favicon.ico">
</head>
<body>
<header>
    <h1>
        <span class="half-letter" data-letter="V">V</span>
        <span class="half-letter" data-letter="i">i</span>
        <span class="half-letter" data-letter="m">m</span>
        <span class="half-letter" data-letter="o">o</span>
        <span class="half-letter" data-letter="'">'</span>
        <span class="half-letter" data-letter="s" style="margin-right: 20px;">s</span>
        <span class="half-letter" data-letter="B">B</span>
        <span class="half-letter" data-letter="L">L</span>
        <span class="half-letter" data-letter="O">O</span>
        <span class="half-letter" data-letter="G">G</span>
    </h1>
</header>
{{ content }}

<script>
    var baseUrl = '{{site.cname}}';
    var pageJS = '{{page.js}}';
    var test = '{{page.test}}';
</script>
<script src="{{site.cname}}js/app.js"></script>

</body>
</html>