<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/common.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/{{page.css}}.css"/>
    <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico">
</head>
<body>
<header>
    <h1>
        <span class="half-letter" data-letter="V">V</span>
        <span class="half-letter" data-letter="i">i</span>
        <span class="half-letter" data-letter="m">m</span>
        <span class="half-letter" data-letter="o">o</span>
        <span class="half-letter" data-letter="'">'</span>
        <span class="half-letter" data-letter="s" style="margin-right: 20px;">s</span>
        <span class="half-letter" data-letter="B">B</span>
        <span class="half-letter" data-letter="L">L</span>
        <span class="half-letter" data-letter="O">O</span>
        <span class="half-letter" data-letter="G">G</span>
    </h1>
</header>
{{ content }}

<input type="hidden" id="site_data" data-baseurl="{{site.baseurl}}">
<textarea name="" id="page_data" cols="30" rows="10" style="display: none">{{page|jsonify}}</textarea>
<script src="{{site.baseurl}}/js/app.js"></script>
</body>
</html>