.wrap {
    margin: 0 auto;
    width: 1280px;
}

canvas {
    display: block;
    margin: 10px 0;
    background: #333;
}

section {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #4EA9F3;
    border-radius: 6px;
}
