@import "inc/mixins";

$d: 400px;
#TaiChi {
    margin: 100px auto;
    font-size: 0;
    @include circle($d);
    overflow: hidden;

    animation: rotate 3s linear infinite;

    & > * {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 50%;

        &:before, &:after {
            position: absolute;
            content: '';
        }

        &:before {
            @include circle($d / 16);
            z-index: 2;
        }

        &:after {
            @include circle($d / 2);
            z-index: 1;
        }
    }

    #black {
        background: #000;

        &:before {
            top: ($d / 2 - $d / 16) / 2;
            right: - $d / 32;
            background: #fff;
        }
        &:after {
            left: $d / 4;
            background: #000;
        }
    }
    #white {
        background: #fff;
        &:before {
            background: #000;
            left: - $d / 32;
            bottom: ($d / 2 - $d / 16) / 2;
        }
        &:after {
            bottom: 0;
            right: $d / 4;
            background: #fff;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}