@import "inc/mixins";
@import "inc/TaiChi-base";

@include TaiChi(400px);

.TaiChi {
    margin: 100px auto;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}